body {
    background: url(/img/concrete_1920x1280_top_let_low_quality.png);
    /* background-size: cover;	 */
  }

#startGame {
    width: 300px;
    position: absolute; 
    margin: 0 auto;
    left: 90%;
    top: 97%;
    -webkit-transform: translate(-50%, -50%); 
    translate: -50% -50%;
}

#drawSceneCard {
  position: absolute; 
  margin: 0 auto;
  left: 95%;
  top: 95%;
  -webkit-transform: translate(-50%, -50%); 
  translate: -50% -50%;
}

#playerListDiv {
  overflow: hidden;
  background: white;
  border-radius: 8px;
  border: 2px solid black;
  width: 500px;
  font-family: "Courier New";
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); 
  translate: -50% -50%;
}

#gameIDdiv {
  text-align: center;
  font-family: "Courier New";
  font-weight: bold;
  font-size: 40px;
  height: 50px;
  padding-top: 40px;
}

#playerList {
  list-style-type: none;
  font-size: 30px;
  width: 400px;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0 auto;
 }
 
.pList {
  /*border-bottom: 3px solid grey;*/
  border-bottom: 3px solid #D0D0D0;
  padding: 15px 10px 2px 10px;
  height: 50px;
}

@media (pointer:none), (pointer:coarse) {
  #playerListDiv {
    width: 300px;
  }

  #gameIDdiv {
    font-size: 25px;
  }

  #playerList {
    width: 200px;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .pList {
    height: 30px;
    padding: 5px 10px 2px 10px;
  }
}